doctype html
html
  head
    title Software Quality Analysis Tools
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
    
    // Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css', rel='stylesheet')

    // include react
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react-with-addons.js')
  body
    header
      .navbar.navbar-default
        .navbar-header
          a.navbar-brand(href='javascript:void(0)') SQAT
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            li.active
              a(href='javascript:void(0)') Home
            li
              a(href='javascript:void(0)') About
          form.navbar-form.navbar-left
            input.form-control.col-lg-8(type='text', placeholder='Search')

    #content

    footer
      .container
        .row
          .col-sm-4
            h3 Left Footer Section
          .col-sm-4
            h3 Center Footer Section
          .col-sm-4
            h3 Right Footer Section

    // this is where the root react component will get rendered
    // include the webpack-dev-server script so our scripts get reloaded when we make a change
    // we'll run the webpack dev server on port 8090, so make sure it is correct
    script(src='http://localhost:8090/webpack-dev-server.js')
    
    // include the bundle that contains all our scripts, produced by webpack
    // the bundle is served by the webpack-dev-server, so serve it also from localhost:8090
    script(type='text/javascript', src='http://localhost:8090/assets/bundle.js')

    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js')
    script.
      $(document).ready(function() {
        // This command is used to initialize some elements and make them work properly
        $.material.init();
      });
