{
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": "defaults/configurations/google",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "experimentalObjectRestSpread": true
    },
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint",
    "rules": {
        "strict": 0,
        "max-len": [1, 100]
    }
}